- let level = '../images/sprites/png/3-layers.png'
- let arrow = '../images/sprites/png/Shape_5.png'

.block.body-end
    div.level
        img(src=level, alt=level, srcset=leveld)
        div.arrow
            img(src=arrow, alt=arrow, srcset=arrow)
    div.statics
        h3 Мой уровень владения Java Script
        span.numb 954